body {
    padding: 50px;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .receipt-main {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    border: 1px solid #000;
  }
  
  .receipt-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-top: 50px;
  }
    
  .receipt-label {
    font-weight: 600;
  }
  
  .text-large {
    font-size: 16px;
  }
  
  .receipt-section {
    margin-top: 10px;
    margin-left: 75px;
    
  }
  
  .receipt-footer {
    text-align: center;
    background: #ff0000;
  }
  icon{
    
    align-items: right;
    align-content: center;
     
  }
  
  .receipt-signature {
    height: 80px;
    margin: 50px 0;
    padding: 0 50px;
  }
.receipt-line {
      margin-bottom: 10px;
      border-bottom: 1px solid #000;
    }
    
    p {
      text-align: center;
      margin: 0;
    }
    h2 {
      text-align: right;
      margin: 0;
      padding-right: 50px;
    }
    Link{
      color: thistle;
    }